/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .text-last-center{
  text-align-last: center;
 }
 .flex-flow-wrap {
  flex-flow: wrap;
 }

 @media (max-width: 599px) {
  header {
    height: 80px !important;
    flex-direction: column;
  }
  #current-path {
    border-top: 0px;
    border-bottom-width: 4px;
    height: 50px;
  }
  #app-title {
    font-size: x-large;
    margin-right: 0;
  }
  .image-viewer {
    flex-direction: column;
  }
  .viewer-title {
    display: flex;
    flex-direction: column;
  }
}
